$white: #eeeeee;
$kindawhite: rgb(170,170,170);
$maroon: #4f0d3d;
$softred: #a6373a;
$softorange: #f77327;
$lightgray: rgb(99,99,99);
$gray: rgb(33,33,33);
$gray-seethrough: rgba(33,33,33,0.9);
$offwhite-seethrough: rgba(230,230,230,0.9);
